/*
Make color shades: 
    color-mix(in srgb, var(--secondary-color) 60%, black)

Make grid auto-fit content: 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
*/

@font-face {
  font-family: "Roboto";
  src:
    url("./fonts/Roboto-Bold.woff2") format("woff2"),
    url("./fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./fonts/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  line-height: 1.6;
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
  --background-color: #333333;
  --board-color: #9dbedb;
  --text-color: rgb(255, 255, 255);
  --miss-color: rgb(26, 130, 185);
  --hit-color: rgb(188, 54, 87);
  --ship-color: rgb(68, 68, 68);
  --green-color: rgb(34, 139, 34);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
}

dialog {
  border: none;
  border-radius: 5px;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 4px 4px 20px 0 var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-items: center;
}

dialog:open {
  padding: 20px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  margin: 0;
  grid-column: span 2;
  text-align: center;
}

div.button-container {
  display: flex;
  gap: 20px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  width: 150px;
}

button.positive {
  background-color: var(--miss-color);
}

button.positive:hover {
  background-color: color-mix(in srgb, var(--miss-color) 80%, black);
}

button.negative {
  background-color: var(--hit-color);
}

button.negative:hover {
  background-color: color-mix(in srgb, var(--hit-color) 80%, black);
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

div.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  margin-top: 10vh;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

h1.main-title {
  font-size: 8rem;
  margin: 0;
  margin-bottom: 100px;
  text-shadow:
    5px 5px 10px var(--miss-color),
    -5px -5px 10px var(--hit-color);
}

div.main-buttons {
  display: flex;
  gap: 20px;
}

button.main-button {
  font-size: 1.5rem;
  padding: 15px 30px;
  cursor: pointer;
  width: 300px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

button.singleplayer {
  background-color: var(--miss-color);
  box-shadow: 0 0 20px var(--miss-color);
}

button.singleplayer:hover {
  background-color: color-mix(in srgb, var(--miss-color) 80%, black);
}

button.multiplayer {
  background-color: var(--hit-color);
  box-shadow: 0 0 20px var(--hit-color);
}

button.multiplayer:hover {
  background-color: color-mix(in srgb, var(--hit-color) 80%, black);
}

div.board-selection-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

div.board-selection-buttons button {
  width: 150px;
  font-size: 1.2rem;
}

button.green {
  background-color: var(--green-color);
}

button.green:hover {
  background-color: color-mix(in srgb, var(--green-color) 80%, black);
}

div.game {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 700px));
  gap: 100px;
  padding: 20px;
  justify-content: center;
}

div#player1,
div#player2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: var(--board-color);
  border: 2px solid var(--text-color);
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 700px;
  transition: box-shadow 0.3s ease;
}

div.gameboard.active {
  box-shadow: 0 0 30px 0 var(--board-color);
}

div.cell {
  border: 1px solid var(--text-color);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

div.cell.hit {
  background-color: var(--hit-color);
  transform: rotateX(180deg);
}

div.cell.miss {
  background-color: var(--miss-color);
  transform: rotateX(180deg);
}

div.cell.ship {
  background-color: var(--ship-color);
}

div.cell:hover {
  background-color: color-mix(in srgb, var(--board-color) 80%, black);
  cursor: pointer;
}

div.cell.hit:hover {
  cursor: not-allowed;
  background-color: color-mix(in srgb, var(--hit-color) 80%, black);
}

div.cell.miss:hover {
  cursor: not-allowed;
  background-color: color-mix(in srgb, var(--miss-color) 80%, black);
}

div.cell.ship:hover {
  background-color: color-mix(in srgb, var(--ship-color) 80%, black);
}
